<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/formulas.css">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>

    

        <script type="module" src="./src/formulas.js"></script>
</body>

</html>