<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/home.css">
    <title>Página Inicial</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="info">
            <h1 align="center"> Sobre </h1>
            <h2>
                O universo sempre foi intrigante. A curiosidade
                humana fez com que buscássemos incessantemente por informações 
                sobre a existência das matérias, planetas, estrelas e, até mesmo, nossa origem.
                Nosso maior objetivo como ser vivo é entender de onde viemos e onde vamos.
                Com isso, o universo foi muito estudado.
                Aqui, você verá informações principais sobre nosso sistema: o Sistema Solar.
            </h2>
        </div>

        <div class="registrar">

        </div>
</body>

</html>