<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/home.css">
    <title>Página Inicial</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <!--     <div class="cursor">
            <div class="circle"></div>
            <div class="ring"></div>
        </div> -->

        <div class="pag">

            <div class="motivacoes info">
                <ul>
                    <li>a</li>
                </ul>
            </div>

            <div class="teste info">
                <ul>
                    <li>a</li>
                </ul>
            </div>
            
            <div class="teste2 info">
                <ul>
                    <li>a</li>
                </ul>
            </div>
        </div>


        <script type="module" src="./src/home.js"></script>
</body>

</html>