<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/home.css">
    <title>Página Inicial</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>

        <div class="pag">

            <div class="principal">
                <a href="SistemaSolar">
                    <h1>DESCUBRA <br>NOSSO SISTEMA</h1>
                </a>
                <div class="seta">
                    <div class="linha">
                    </div>
                    <div class="ponta"></div>
                </div>
                <div class="seta2">
                    <div class="linha">
                    </div>
                    <div class="ponta"></div>
                </div>
                <div class="seta3">
                    <div class="linha">
                    </div>
                    <div class="ponta"></div>
                </div>
            </div>

            <div class="intro info">
                <ul>
                    <li>oolaola ola.</li>
                    <li>site.</li>
                </ul>
            </div>
            <div class="intro2 info">
                <ul>
                    <li>oiii</li>
                    <li>tudo bem</li>
                </ul>
            </div>



            <div class="image">
                <img class="saturn" src="./img/saturnmenu.png" alt="">
            </div>

           

            <script type="module" src="./src/home.js"></script>
</body>

</html>