<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/sistema.css">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="buttons">
            <button class="next">Próximo</button>
            <button class="back">Anterior</button>
        </div>
        <div class="planetassol">
            <div class="sun astro">
                <h1 align="center">Sol</h1>
            </div>
            <div class="mercury astro">
                <h1 align="center">Mercúrio</h1>
            </div>
            <div class="venus astro">
                <h1 align="center">Venus</h1>
            </div>
            <div class="earth astro">
                <h1 align="center">Terra</h1>
            </div>
            <div class="mars astro">
                <h1 align="center">Marte</h1>
            </div>
            <div class="jupiter astro">
                <h1 align="center">Jupiter</h1>
            </div>
            <div class="saturn astro">
                <h1 align="center">Saturno</h1>
            </div>
            <div class="uranus astro">
                <h1 align="center">Urano</h1>
            </div>
            <div class="neptune astro">
                <h1 align="center">Netuno</h1>
            </div>
            <div class="pluto astro">
                <h1 align="center">Plutão</h1>
            </div>
        </div>
        <canvas class="bg"></canvas>
        <script type="importmap">
        {
        "imports": {
         "three": "https://cdn.skypack.dev/three@0.139.2/build/three.module",
            "three/": "https://cdn.skypack.dev/three@0.139.2/",      
            "dat.gui": "https://cdn.skypack.dev/dat.gui"
        }
       }
      </script>
        <script type="module" src="./src/sistema.js"></script>
</body>

</html>